<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Conexión servidor WINDOWS1064 -->
		<add name="Proyecto_Final_Yoel.Properties.Settings.PROYECTOConnectionString"
             connectionString="Data Source=WINDOWS1064\SQLEXPRESS;Initial Catalog=PROYECTO;Integrated Security=True"
             providerName="System.Data.SqlClient" />

		<!-- Conexión servidor PTL-243 (Sin cifrado obligatorio) -->
		<add name="Proyecto_Final_Yoel.Properties.Settings.Proyecto_Final_YoelConnectionString"
             connectionString="Data Source=PTL-243\SQLEXPRESS2022;Initial Catalog=Proyecto_Final_Yoel;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />

		<!-- Conexión servidor PTL-243 (Con cifrado SSL/TLS obligatorio) -->
		<add name="Proyecto_Final_Yoel.Properties.Settings.Proyecto_Final_YoelConnectionString1"
             connectionString="Data Source=PTL-243\SQLEXPRESS2022;Initial Catalog=Proyecto_Final_Yoel;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>